/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/

body
{
	background:#2c2c2c;
}

/* Text for each project */

#projectText
{
	padding-left:8px;
	color : #DDDDDD;
	float : bottom ;	
	width : 800px ;
	margin: 0 auto ; 
}

#projectText h1
{
	color: #FFFFFF;
	font-size: 18px;
}

#projectText h2
{
	color: #CDCDCD;
	font-size: 16px;
}

#projectText h3
{
	color: #CDCDCD;
	font-size: 14px;
}


#projectText a
{
	color : #4e84cc ;
}

#projectText p
{
	color : #ABABAB ; 
	font-size: 12px;
}


#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}
	
.thumbnailImage
{
	padding-top:5px;
	width:150px ;
	height:85px ;
}

.thumbnailText
{
	font-size:32px;
}

.accordionButton {	
	font-size:22px;
	width: 800px;
	height:109px;
	float: left;
	height 109px ; 
	_float: none;  /* Float works in all browsers but IE6 */
	background-image:url("../img/stripe_small.png");
	cursor: pointer;
	color:#CBCBCB;
	padding-left:6px;
	padding-right:6px
	padding-top:0px;
	}
	
	
.accordionContent {	

	width: 800px;
	height:800px;
	margin-left:4px;

	background:#454545;
	color:#DCDCDC;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	color:#ACACAC;
	background-image:url("../img/stripe.png");
	}
	
.over {
	color:#FFFFFF;
	background-image:url("../img/stripe.png");
	}