.navMenu {
	margin:0px !important;
	height:35px;
	padding-left:25px !important;
	background-image: url("./stripe.png");	
	background-repeat:repeat-x;
	background-repeat:repeat-y;
}



.sliderCaption
{
	color: #BCBCBC ;
	font-size: 12px ;
	padding-left: 10px ;
}

#projectText
{
	color : #DDDDDD;
	float : bottom ;	
	width : 800px ;
	margin: 0 auto ; 
}

#projectText h1
{
	color: #FFFFFF;
	font-size: 18px;
}

#projectText h2
{
	color: #CDCDCD;
	font-size: 16px;
}

#projectText h3
{
	color: #CDCDCD;
	font-size: 14px;
}


#projectText a
{
	color : #4e84cc ;
}

#projectText p
{
	color : #ABABAB ; 
	font-size: 12px;
}